.navbar-nav{
    text-align: right;
}

.banner{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/banner-images/tv.png");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: tomato;
}
.cat3{
    background-color: teal;
}
.panda-button{
    background-image: linear-gradient( to bottom,  #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
    border-radius: 10px;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
#app-banner{
    background-image: linear-gradient(to bottom,  #FF589B 0%, #FF136F 100%);
}
#app-banner h1{
    padding-top: 20px;
    color: #fff;
}
#app-banner img{
    width: 150px;
    margin: 50px 0;
} 
footer a img{
    width:50px;
}
 
